{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Detalhes do Laudo</h1>
    <a href="{% url 'exibicao' paciente_id=laudo_paciente.paciente.id %}" class="btn btn-success">Lista de laudos</a>
    <a href="{% url 'editar_laudo' laudo_paciente.id %}" class="btn btn-success">Editar</a>
    <form method="post" action="{% url 'deletar_laudo' laudo_paciente.id %}" class="d-inline">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir este laudo?')">Deletar</button>
    </form>
    <form method="post" action="{% url 'enviar_pdf' laudos_paciente_id=laudo_paciente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Enviar E-mail</button>
    </form>
    <form method="post" action="{% url 'enviar_whatsapp' laudos_paciente_id=laudo_paciente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Enviar Whatsapp</button>
    </form>
    <form method="post" action="{% url 'enviar_laudo' laudos_paciente_id=laudo_paciente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Enviar Laudo</button>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Paciente: {{ laudo_paciente.paciente.nome }}</h2>
            <p>Espécie: {{ laudo_paciente.especie }}</p>
            <p>Raça: {{ laudo_paciente.raca }}</p>
            <p>Sexo: {{ laudo_paciente.sexo }}</p>
            <p>Tutor: {{ laudo_paciente.tutor.nome }}</p>
            <p>E-mail do Tutor: {{ laudo_paciente.email }}</p>
            <p>Idade: {{ laudo_paciente.idade }}</p>
            <p>Peso: {{ laudo_paciente.peso }}</p>
            <p>E-mail Extra: {{ laudo_paciente.email_extra }}</p>
            <p>Telefone Extra: {{ laudo_paciente.telefone_extra }}</p>
            <p>Suspeita: {{ laudo_paciente.suspeita }}</p>
            <p>Clínica: {{ laudo_paciente.clinica.nome }}</p>
            <p>Veterinário: {{ laudo_paciente.veterinario.nome }}</p>
            <p>Data: {{ laudo_paciente.data|date:'d/m/Y' }}</p>
            <p>
                <a href="{% url 'adicionar_imagem' laudo_id=laudo_paciente.id %}" class="btn btn-primary">Adicionar Nova Imagem</a>
            </p>
            <p>
                {% for imagem in laudo_paciente.laudo_imagem.all %}
                    <img src="{{ imagem.image.url }}" alt="Imagem {{ imagem.id }}" class="img-fluid" style="max-width: 100px; height: auto;">
                    <form method="post" action="{% url 'deletar_imagem' imagem.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir esta imagem?')">Deletar Imagem</button>
                    </form>
                {% endfor %}
            </p>
            
            <!-- Adicione aqui os detalhes específicos do Laudo que deseja exibir -->
            
            
        </div>
        <div class="col-md-6">
            <h2>Laudo</h2>
            <p>{{ laudo_paciente.laudo|safe }}</p> <!-- Utilize |safe para renderizar HTML -->
        </div>
    </div>
</div>
{% endblock %}
