{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Paciente {{ paciente.nome }}</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Detalhes do Paciente</h2>
            <p><strong>Nome:</strong> {{ paciente.nome }}<p>
            <p><strong>Espécie:</strong> {{ paciente.especie }}</p>
            <p><strong>Raça:</strong> {{ paciente.raca }}</p>
            <p><strong>Idade:</strong> {{ paciente.idade }}</p>
            <p><strong>Peso:</strong> {{ paciente.peso }}</p>
            <p><strong>Castração:</strong> {{ paciente.castracao_display }}</p>
            <p><a href="{% url 'exibicao_tutor' tutor_id=paciente.tutor.id %}" class="btn btn-primary">Tutor: {{ paciente.tutor }}</a></p>
            {% if paciente.especie|lower|striptags == 'felino' %}
                <div class="mb-3">
                    <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-success">Editar</a>
                    <form method="post" action="{% url 'deletar_paciente' paciente.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir este paciente?')">Deletar</button>
                    </form>
                </div>
            {% else %}
                <div class="mb-3">
                    <a href="{% url 'editar_paciente_canino' paciente.id %}" class="btn btn-success">Editar</a>
                    <form method="post" action="{% url 'deletar_paciente_canino' paciente.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir este paciente?')">Deletar</button>
                    </form>
                </div>
            {% endif %}
        </div>

        <!-- Detalhes do Tutor -->
        <div class="col-md-6">
            <h2>Detalhes do Tutor</h2>
            <ul>
                <li><strong>Nome do Tutor:</strong> {{ paciente.tutor.nome }}</li>
                <li><strong>Telefone:</strong> {{ paciente.tutor.telefone }}</li>
                <li><strong>E-mail:</strong> {{ paciente.tutor.email }}</li>
                <li><strong>Endereço:</strong> {{ paciente.tutor.endereco }}</li>
            </ul>
        </div>
    </div>

            <label for="laudoSelector">Selecione o Tipo de Laudo que Deseja Criar:</label>
            <select id="laudoSelector" class="form-select mb-3">
                {% for laudo in laudo|dictsort:"nome_exame" %}
                    <option value="{% url 'laudo' paciente.id paciente.tutor.id laudo.id %}">
                        {{ laudo.nome_exame }} - {{ laudo.tipo_exame }}
                    </option>
                {% endfor %}
            </select>
            <button type="button" onclick="redirectToSelected()" class="btn btn-primary">Criar o Laudo Selecionado</button>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo de Laudo</th>
                        <th>Data</th>
                        <th>Opções</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for laudos_paciente in laudos_paciente|dictsortreversed:"data" %}
                        <tr>
                            <td>{{ laudos_paciente.tipo_laudo }}</td>
                            <td>{{ laudos_paciente.data|date:"d/m/Y H:i:s" }}</td>
                            <td>
                                <select id="opcoes" class="form-select">
                                    <option selected disabled>Selecione uma opção</option>
                                    <option value="{% url 'exibir_laudo' laudos_paciente.id %}">Detalhes</option>
                                    <option value="{% url 'exibir_pdf' laudos_paciente.id %}">Exibir PDF</option>
                                    <option value="{% url 'export-pdf' laudos_paciente.id %}">Baixar PDF</option>
                                    <option value="{% url 'editar_pdf' laudos_paciente.id %}">Editar Laudo já enviado</option>
                                    <option value="{% url 'sua_funcao_para_excluir_pdf' laudos_paciente.id %}">Deletar laudo já enviado</option>
                                    <option value="{% url 'enviar_pdf' laudos_paciente.id %}">Enviar E-mail</option>
                                    <option value="{% url 'enviar_whatsapp' laudos_paciente.id %}">Enviar Whatsapp</option>
                                    <option value="{% url 'enviar_laudo' laudos_paciente.id %}">Enviar Laudo</option>
                                </select>
                                <button onclick="ativarEscolha()">Ativar Escolha</button>
                            
                                <script>
                                    function ativarEscolha() {
                                        var selectElement = document.getElementById("opcoes");
                                        var selectedValue = selectElement.value;
                            
                                        if (selectedValue) {
                                            if (selectedValue === "{% url 'exibir_pdf' laudos_paciente.id %}") {
                                                window.open(selectedValue, '_blank');
                                            } else {
                                                window.location.href = selectedValue;
                                            }
                                        } else {
                                            alert("Por favor, selecione uma opção antes de ativar.");
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function redirectToSelected() {
        var selectedUrl = document.getElementById("laudoSelector").value;
        window.location.href = selectedUrl;
    }
</script>

{% endblock %}
