{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Detalhes do tutor</h1>
    <a href="{% url 'novo_tutor' %}" class="btn btn-primary">Novo tutor</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Nome: {{ tutor.nome }}</h2>
            <p>Telefone: {{ tutor.telefone }}</p>
            <p>E-mail: {{ tutor.email }}</p>
            <p>Endereço: {{ tutor.endereco }}</p>

            <a href="{% url 'editar_tutor' tutor.id %}" class="btn btn-success">Editar</a>
            <form method="post" action="{% url 'deletar_tutor' tutor.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir este tutor?')">Deletar</button>
            </form>
            <a href="{% url 'selecao' tutor.id %}" class="btn btn-success">Adicionar Paciente</a>
        </div>

        <!-- Lista de Pacientes -->
        <div class="col-md-6">
            <h2>Pacientes:</h2>
            <ul>
                {% for paciente in tutor.pacientes.all %}
                    <li><a href="{% url 'exibicao' paciente.id %}" class="btn btn-primary">{{ paciente.nome }}</a>
                    {% if paciente.obito %}
                        <span class="text-danger"> - Óbito</span>
                    {% endif %}
                    {% if paciente.plano %}
                        <span class="text-danger"> - {{ paciente.plano }}</span>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
