/* Personalize as cores aqui */
:root {
    --primary-color: #58a7e9; /* Cor primária mais escura */
    --secondary-color: #f0f0f0; /* Cor do Menu */
    --clara-color: #464544; /* Cores dos Textos */
    --escura-color: #ffffff; /* Cor do Background */
    
}

/* Personalize os estilos dos elementos conforme necessário */
body {
    background-color: var(--escura-color);
    color: var(--clara-color);
}


.navbar {
    background-color: var(--primary-color);
}

.nav-link {
    color: var(--clara-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--clara-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-rounded-table td {
    border-radius: 10px;
    border-width: 1px;
}

/* Redefinir o arredondamento para as células de cabeçalho */
.custom-rounded-table th {
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
}

.custom-rounded-table {
    border-collapse: separate; /* Mantém espaço entre as células */
    border-spacing: 0; /* Define o espaço entre as células como 0 */
}

.navbar-links a {
        margin-right: 100px; /* Ajuste o valor conforme necessário */
}

.header-container {
    display: flex;
    align-items: flex-start;
}
.navbar {
    margin-right: auto;
}
.main-container {
    margin-left: 20px; /* Ajuste a margem conforme necessário */
}

.cards {
    width: 100%;
}

.galeria {
    display: flex;
    width: 100%;
}

.cards__titulo {
    color: #7B78E5;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.cards__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    position: relative;
    width: 450px;
}

.card__imagem {
    width: 450px;
    border-radius: 10px 10px 0 0;
}

.card__tag {
    background-color: #D9D9D940;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    left: 310px;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
}

.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
}

.card__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

.imagem__texto {
    font-size: 1rem;
}

.btn.btn-success.col-12 {
    background-color: #58a7e9;
    /* Você pode ajustar outras propriedades de estilo, se necessário */
    color: #fff; /* Define a cor do texto como branco, por exemplo */
    border: none; /* Remove a borda, se desejar */
}

.galeria-centralizada {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 90vh; /* Define a altura da galeria para preencher a altura da tela */
}


.galeria-centralizada-2{
    display: flex;
    justify-content: left; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Define a altura da galeria para preencher a altura da tela */
    width: 100%; /* Ocupa toda a largura da tela */
}
