{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Eccos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://cdn.tiny.cloud/1/tyia5qttmfqqaucjr6ab2a48st67s0zunt38axf3lxospeyk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            display: flex;
            margin: 0;
        }
    
        .no-margin-left {
            margin-left: 0;
        }
        .custom-sidebar.collapsed {
            width: 50px; /* Ou qualquer largura que você deseja para o sidebar recolhido */
        }

    
        #main-content {
            flex-grow: 1;
            transition: margin-left 0.3s ease;
            margin-left: 0;
        }

        #top-options {
            display: none;
        }

        .custom-sidebar {
            display: none; /* Oculta o sidebar em dispositivos móveis por padrão */
        }

        @media (max-width: 800px) {
            .custom-sidebar {
                display: none !important; /* Força a ocultação do sidebar em dispositivos móveis */
            }

            #top-options {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: #343a40;
                color: #fff;
                padding: 10px;
                position: sticky;
                top: 0;
                z-index: 1000;
            }

            #top-options .nav-link {
                margin: 5px;
            }
        }
    </style>
    
    
</head>
<body>
    <div class="container-fluid no-margin-left">
        <!-- Header -->
        <header class="row bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark mx-auto">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'login' %}">Login</a>
                <a class="navbar-brand" href="{% url 'cadastro' %}">Cadastro</a>
                <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
                <a class="navbar-brand" href="/admin/">Admin</a>
                {% if acompanhamento_7_dias %}
                    <!-- Alerta discreto no topo -->
                    <span class="badge bg-warning text-dark ms-2" style="font-size: 0.9em;">Acompanhamento em menos de 7 dias</span>
                {% endif %}

            </nav>
        </header>

        <!-- Caixa de opções no topo para dispositivos móveis -->
        <div id="top-options">
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_tutores' %}">Tutores</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_pacientes' %}">Pacientes</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_clinicas' %}">Clínicas</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_veterinarios' %}">Veterinários</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'laudos_hoje' %}">Laudos Hoje</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_tarefas_agendadas' %}">Envios programados</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_frases' %}">Frases Programadas</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_laudos' %}">Modelos de Laudos</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'laudo_list' %}">Lista de Exames</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'relatorio_exames' %}">Relatório de Exames</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'editar_precos_laudo_hoje' %}?data={{ laudo.data|date:'Ymd' }}">Atualização de valores</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'calcular_relatorio' %}">Projeções</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'listar_diretorios_s3' %}">Backup</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'editar_inventario' %}">Inventário</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'listar_acompanhamentos' %}">Acompanhamento</a>
            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'filtrar_laudos' %}">Controle</a>
        </div>

        <!-- Conteúdo principal -->
        <div class="row" style="display: flex;">
            <!-- Barra lateral -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar d-grid gap-2 custom-sidebar">
                <div class="position-sticky min-vh-100">
                    <ul class="nav flex-column w-100">
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_tutores' %}">
                                Tutores
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_pacientes' %}">
                                Pacientes
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_clinicas' %}">
                                Clínicas
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_veterinarios' %}">
                                Veterinários
                            </a>
                        </li>
                        
                        
                        
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'laudos_hoje' %}">
                                Laudos Hoje
                            </a>
                        </li>
                        
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_tarefas_agendadas' %}">
                                Envios programados
                            </a>
                        </li>

                        
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_frases' %}">
                                Frases Programadas
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'lista_laudos' %}">
                                Modelos de Laudos
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'listar_acompanhamentos' %}">
                                Acompanhamento
                            </a>
                        </li>
                        <!-- Divisão visual -->
                        <li class="nav-item mb-3">
                            <hr class="sidebar-divider">
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'laudo_list' %}">
                                Lista de Exames
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'relatorio_exames' %}">
                                Relatório de Exames
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'editar_precos_laudo_hoje' %}?data={{ laudo.data|date:'Ymd' }}">
                                Atualização de valores
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'calcular_relatorio' %}">
                                Projeções
                            </a>
                        </li>
                        
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'listar_diretorios_s3' %}">
                                Backup
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'editar_inventario' %}">
                                Inventário
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'listar_despesas' %}">
                                Despesa
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-white btn btn-info sidebar-btn" href="{% url 'filtrar_laudos' %}">
                                Controle
                            </a>
                        </li>
                        
                        
                    </ul>
                    <div id="sidebarCollapseContainer">
                        <button class="btn btn-dark" id="sidebarCollapse">
                            <i class="fas fa-arrow-left fa-sm"></i>
                        </button>
                    </div>
                </div>
                
            </nav>

            <!-- Conteúdo principal -->
            <main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% include 'partials/_alertas.html' %}
                {% block content %}
                {% endblock %}
                {% include 'partials/_footer.html' %}
            </main>
        </div>

    </div>

    <!-- Scripts no final do corpo -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebar = document.getElementById('sidebar');
            const sidebarCollapseBtn = document.getElementById('sidebarCollapse');
            const sidebarCollapseContainer = document.getElementById('sidebarCollapseContainer');

            sidebarCollapseBtn.addEventListener('click', function () {
                sidebar.classList.toggle('collapsed');
                sidebarCollapseContainer.classList.toggle('collapsed');
            });
        });
    </script>
</body>
</html>