{% extends 'index/base.html' %}
{% block content %}
<div class="page-header">
    <h1>Editar Inventário</h1>
</div>
<form method="post" action="{% url 'editar_inventario' %}">
    {% csrf_token %}
    <table class="table table-hover custom-rounded-table">
        <thead class="thead-default">
            <tr>
                <th>Item</th>
                <th>Quantidade Atual</th>
                <th>Quantidade Mínima</th>
                <th>Editar Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Álcool</td>
                {% if inventario.alcool < 2 %}
                    <td>{{ inventario.alcool }} Litro(s) <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.alcool }} Litro(s)</td>
                {% endif %}
                <td>2 Litros</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="alcool" value="{{ inventario.alcool }}">
                    </div>
                </td>
            </tr>
            
            
            <tr>
                <td>Gel USG</td>
                {% if inventario.gel_usg <= 2.5 %}
                    <td>{{ inventario.gel_usg }} Kg <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.gel_usg }} Kg</td>
                {% endif %}
                <td> 2,5Kg </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="gel_usg" value="{{ inventario.gel_usg }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Seringa de 10ml</td>
                {% if inventario.seringa_10ml <= 30 %}
                    <td>{{ inventario.seringa_10ml }} Kg <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.seringa_10ml }} Und</td>
                {% endif %}
                <td> 30 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="seringa_10ml" value="{{ inventario.seringa_10ml }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Seringa de 5ml</td>
                {% if inventario.seringa_5ml <= 5 %}
                    <td>{{ inventario.seringa_5ml }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.seringa_5ml }} Und</td>
                {% endif %}
                
                <td> 5 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="seringa_5ml" value="{{ inventario.seringa_5ml }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Seringa de 3ml</td>
                {% if inventario.seringa_3ml <= 5 %}
                    <td>{{ inventario.seringa_3ml }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.seringa_3ml }} Und</td>
                {% endif %}
                
                <td> 5 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="seringa_3ml" value="{{ inventario.seringa_3ml }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Agulha Azul</td>
                {% if inventario.agulha_azul <= 20 %}
                    <td>{{ inventario.agulha_azul }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.agulha_azul }} Und</td>
                {% endif %}
                
                <td> 20 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="agulha_azul" value="{{ inventario.agulha_azul }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Cateter Azul</td>
                {% if inventario.cateter_azul <= 20 %}
                    <td>{{ inventario.cateter_azul }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.cateter_azul }} Und</td>
                {% endif %}
                
                <td> 20 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="cateter_azul" value="{{ inventario.cateter_azul }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Cateter Rosa</td>
                {% if inventario.cateter_rosa <= 10 %}
                    <td>{{ inventario.cateter_rosa }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.cateter_rosa }} Und</td>
                {% endif %}
                
                <td> 10 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="cateter_rosa" value="{{ inventario.cateter_rosa }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Gaze Não Estéril</td>
                {% if inventario.gaze_n_esteril <= 0.25 %}
                    <td>{{ inventario.gaze_n_esteril }} Pct <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.gaze_n_esteril }} Pct</td>
                {% endif %}
                
                <td> 0,25 Pct</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="gaze_n_esteril" value="{{ inventario.gaze_n_esteril }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Pano de Campo</td>
                {% if inventario.pano_de_campo <= 0.5 %}
                    <td>{{ inventario.pano_de_campo }} Pct <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.pano_de_campo }} Pct</td>
                {% endif %}
                
                <td> 0,5 Pct</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="pano_de_campo" value="{{ inventario.pano_de_campo }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Essência em spray</td>
                {% if inventario.essencia_spray <= 1 %}
                    <td>{{ inventario.essencia_spray }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.essencia_spray }} Und</td>
                {% endif %}
                
                <td> 1 Und</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="essencia_spray" value="{{ inventario.essencia_spray }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Papel Toalha Quadrado</td>
                {% if inventario.papel_quadrado <= 1 %}
                    <td>{{ inventario.papel_quadrado }} Pct <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.papel_quadrado }} Pct</td>
                {% endif %}
                
                <td> 1 Pct</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="papel_quadrado" value="{{ inventario.papel_quadrado }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Desinfetante Herbal</td>
                {% if inventario.desinfetante_herbal <= 0.5 %}
                    <td>{{ inventario.desinfetante_herbal }} Glo <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.desinfetante_herbal }} Glo</td>
                {% endif %}
                
                <td> 0,5 Glo</td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="desinfetante_herbal" value="{{ inventario.desinfetante_herbal }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Propé</td>
                {% if inventario.prope <= 1 %}
                    <td>{{ inventario.prope }} Pct <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.prope }} Pct</td>
                {% endif %}
                
                <td>  1 Pct   </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="prope" value="{{ inventario.prope }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Seringa de 60ml</td>
                {% if inventario.seringa_60ml <= 1 %}
                    <td>{{ inventario.seringa_60ml }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.seringa_60ml }} Und</td>
                {% endif %}
                
                <td> 1 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="seringa_60ml" value="{{ inventario.seringa_60ml }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Scalp Azul</td>
                {% if inventario.scal_azul <= 2 %}
                    <td>{{ inventario.scal_azul }} Und <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.scal_azul }} Und</td>
                {% endif %}
                
                <td> 2 Und </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="scal_azul" value="{{ inventario.scal_azul }}">
                    </div>
                </td>
            </tr><tr>
                <td>Luva</td>
                {% if inventario.luva <= 2 %}
                    <td>{{ inventario.luva }} Cx <span class="alert-icon" title="Quantidade abaixo do mínimo">&#9888;</span></td>
                {% else %}
                    <td>{{ inventario.luva }} Cx</td>
                {% endif %}
                
                <td> 2 Cx </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="luva" value="{{ inventario.luva }}">
                    </div>
                </td>
            </tr>

            <!-- Repita para os outros campos do inventário -->

        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Salvar Alterações</button>
</form>

  
{% endblock %}
