{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Detalhes do Paciente</h1>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Nome: {{ paciente.nome }}</h2>
            <p>Espécie: {{ paciente.especie }}</p>
            <p>Raça: {{ paciente.raca }}</p>
            <p>Idade: {{ paciente.idade }}</p>
            <p>Peso: {{ paciente.peso }}</p>
            <p>Castração: {{ paciente.castracao }}</p>

            {% if paciente.especie|lower|striptags == 'felino' %}
                <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-success">Editar</a>
                <a href="{% url 'deletar_paciente' paciente.id %}" class="btn btn-danger">Deletar</a>
            {% else %}
                <a href="{% url 'editar_paciente_canino' paciente.id %}" class="btn btn-success">Editar</a>
                <a href="{% url 'deletar_paciente_canino' paciente.id %}" class="btn btn-danger">Deletar</a>
            {% endif %}
            <a href="{% url 'laudo' paciente.id %}" class="btn btn-primary">Criar laudo</a>
            {% if paciente.foto %}
                <img class="card__imagem" src="{{ paciente.foto.url }}" alt="Foto de {{ paciente.nome }}">
            {% else %}
                <img class="card__imagem" src="{% static 'assets/not-found.png' %}" alt="Sem foto">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
