{% extends 'index/base.html' %}
{% load static %}
{% block content %}

<main class="container py-5">
    <section>
        <h1>{{ titulo }}</h1>
        
        <div class="d-grid gap-2">
            <!-- Adicione o elemento img com o caminho relativo da sua imagem -->
            <img src="{% static 'assets/logo-degrade.png' %}" alt="Logo Degrade" style="max-width: 100%; height: auto;">
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
