{% extends 'index/base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_tinyMCE.html' %}

<div class="container mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Adiciona campos hidden para paciente_id e tutor_id -->
        <input type="hidden" name="paciente_id" value="{{ paciente.id }}">
        <input type="hidden" name="tutor_id" value="{{ tutor.id }}">

        <div class="row">
            {% for field in form.visible_fields %}
                <div class="col-12 col-lg-6 mb-3">
                    {% if field.name != 'laudo' %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-12">
                <label for="{{ form.laudo.id_for_label }}" class="form-label">{{ form.laudo.label }}</label>
                {{ form.laudo }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success col-12">Salvar</button>
            </div>
        </div>
    </form>
</div>

<!-- Seção de scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- Seu script de inicialização da máscara -->
<script>
    $(document).ready(function () {
        $('[data-mask]').mask('(00) 0000-0000');
    });
</script>

{% endblock %}





       