{% extends 'index/base.html' %}
{% load static %}
{% block content %}

      <div class="page-header">
          <h1>Lista de Véterinarios</h1>
          <a href="{% url 'novo_veterinario' %}"  class="btn btn-primary" >Novo Véterinario</a>

      </div>
        <table class="table table-hover custom-rounded-table">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% if veterinarios %}
                {% for veterinario in veterinarios %}  
                <tr>
                    <td>{{veterinario.nome}}</td>
                    <td>{{veterinario.telefone}}</td>
                    <td>{{veterinario.email}}</td>
                </tr>
                {% endfor %} 
                {% else %}
                {% endif %} 
            </tbody>
        </table>
    </div>
    

{% endblock %}