{% extends 'index/base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <h1>Lista de Tutores</h1>
</div>
        <table class="table table-hover custom-rounded-table"">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>
{% endblock %}