{% extends 'index/base.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Lista de Pacientes</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    
                    <form class="form-inline" action="{% url 'buscar_paciente' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="buscar" placeholder="O que você procura?">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search-location"></i>                                 </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
          </div>
          
    </div>
    <table class="table table-hover custom-rounded-table">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Raça</th>
                    <th>Idade</th>
                    <th>Peso</th>
                    <th>Castração</th>
                    <th>Tutor</th>

                </tr>
            </thead>
            <tbody>
                {% if pacientes %}
                {% for paciente in pacientes %} 
                <tr>
                    <td><a href="{% url 'exibicao' paciente.id %}">{{ paciente.nome }}</a></td>
                    <td>{{ paciente.especie }}</td>
                    <td>{{ paciente.raca }}</td>
                    <td>{{ paciente.idade }}</td>
                    <td>{{ paciente.peso }}</td>
                    <td>{{ paciente.castracao }}</td>
                    <td>{{ paciente.tutor }}</td>
                </tr>
                {% endfor %} 
                {% else %}
                {% endif %} 

            </tbody>
        </table>
{% endblock %}