{% extends 'index/base.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Lista de Pacientes</h1>
        <a href="{% url 'novo_paciente' %}" class="btn btn-primary">Novo Paciente</a>
    </div>
    <table class="table table-hover custom-rounded-table">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Raça</th>
                    <th>Dada de nascimento</th>
                    <th>Peso</th>
                    <th>Castração</th>
                </tr>
            </thead>
            <tbody>
                {% if pacientes %}
                {% for paciente in pacientes %} 
                <tr>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.especie }}</td>
                    <td>{{ paciente.raca }}</td>
                    <td>{{ paciente.nascimento }}</td>
                    <td>{{ paciente.peso }}</td>
                    <td>{{ paciente.castracao }}</td>
                </tr>
                {% endfor %} 
                {% else %}
                {% endif %} 

            </tbody>
        </table>
{% endblock %}