{% extends 'index/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Selecione a espécie</h1>
        <form action="{% url 'novo_paciente' %}" method="GET">
            <label for="especie">Selecione a espécie:</label>
            <select name="especie" id="especie">
                <option value="Felino">Felino</option>
                <option value="Canino">Canino</option>
            </select>
            <button type="submit" class="btn btn-primary">Próximo</button>
        </form>
    </div>
    <style>
        .custom-margin {
            margin-right: 200px; /* Ajuste o valor conforme necessário para controlar o espaçamento */
        }
    </style>
{% endblock %}


