{% extends 'index/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Selecione</h1>
        <form id="animalForm" method="POST"> <!-- Alterado para POST -->
            {% csrf_token %} <!-- Adicione o token CSRF aqui -->
            <div class="form-group">
                <label for="animal">Escolha:</label>
                <select class="form-control" id="animal" name="animal">
                    <option value="felino">Felino</option>
                    <option value="canino">Canino</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="redirecionar()">Próximo</button>
        </form>
    </div>

    <script>
        function redirecionar() {
            var selecionado = document.getElementById("animal").value;
            var urlRedirecionamento = selecionado === 'felino' ? '{% url "novo_paciente" %}' : '{% url "novo_paciente_canino" %}';
            window.location.href = urlRedirecionamento;
        }
    </script>
</div>
{% endblock %}