{% extends 'index/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card" style="width: 75%;">
    <div class="card-body card-text text-dark">
      <h3>Projeção:</h3>
      <p>Total de dias úteis: {{ total_dias_uteis }}</p>
      <p>Total de feriados: {{ total_feriados }}</p>
      <p>Feriados: 
        {% for feriado in feriados %}
          {{ feriado|date:"d/m" }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      
      <hr>

      <form method="post" action="{% url 'calcular_relatorio' %}">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="{{ form.mes.id_for_label }}">Escolha o Período :</label>
          {{ form.mes }}
        </div>

        <div class="form-group">
          <label for="{{ form.dias_trabalhados_total.id_for_label }}">Informe quantos dias pretende trabalhar neste período :</label>
          {{ form.dias_trabalhados_total }}
        </div>

        <div class="form-group">
          <label for="{{ form.dias_sem_exame.id_for_label }}">Dias em que não houve exame</label>
          {{ form.dias_sem_exame }}
        </div>
        
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
