{% extends 'index/base.html' %}

{% block content %}
<h2>Filtrar Laudos por Mês e Ano</h2>
<form method="GET" action="{% url 'filtrar_laudos' %}">
    <label for="mes">Mês:</label>
    <select name="mes" id="mes">
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
        <!-- Adicione as outras opções de meses -->
    </select>
    <label for="ano">Ano:</label>
    <input type="number" name="ano" id="ano" min="2000" max="2100" value="2024">
    <button type="submit">Filtrar</button>
</form>

{% if laudos %}
<form method="POST" action="{% url 'salvar_financeiro' %}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Data de Criação</th>
                <th>Clínica</th>
                <th>Paciente</th>
                <th>Tutor</th>
                <th>Tipo de Laudo</th>
                <th>Preço Real</th>
                <th>Preço</th>
                <th>Data de Pagamento</th>
                <th>Nota Fiscal</th>
                <th>Forma de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for laudo in laudos %}
            <tr>
                <td>{{ laudo.data }}</td>
                <td>{{ laudo.clinica }}</td>
                <td>{{ laudo.paciente }}</td>
                <td>{{ laudo.tutor }}</td>
                <td>{{ laudo.tipo_laudo }}</td>
                <td><input type="text" name="preco_real" value="{{ laudo.preco_real }}"></td>
                <td>{{ laudo.preco }}</td>
                <td><input type="text" name="data_pagamento" value="{{ laudo.data_pagamento }}"></td>
                <td><input type="checkbox" name="nota_fiscal" {% if laudo.nota_fiscal %} checked {% endif %}></td>
                <td><input type="text" name="forma_pagamento" value="{{ laudo.forma_pagamento }}"></td>
                <input type="hidden" name="laudo_id" value="{{ laudo.id }}">
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Salvar Alterações</button>
</form>
{% else %}
<p>Nenhum laudo encontrado para o mês e ano selecionados.</p>
{% endif %}


{% endblock %}