{% extends 'index/base.html' %}

{% block content %}

<style>
    .smaller-table {
        
        margin: 0 auto; /* Centralize a tabela na tela */
    }
    
    .smaller-table td, .smaller-table th {
        font-size: 12px; /* Defina o tamanho da fonte desejado para as células da tabela */
        border-right: 1px solid #ccc; /* Adicione uma borda direita de 1px sólida entre as colunas */
    }
    
    .smaller-table th:last-child, .smaller-table td:last-child {
        border-right: none; /* Remova a borda direita da última coluna para evitar duplicação */
    }
    </style>

<h2>Filtrar Laudos</h2>
<form method="GET" action="{% url 'filtrar_laudos' %}">
    <label for="mes">Mês:</label>
    <select name="mes" id="mes">
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
        <!-- Adicione as outras opções de meses -->
    </select>
    <label for="ano">Ano:</label>
    <input type="number" name="ano" id="ano" min="2000" max="2100" value="2024">
    <label for="forma_pagamento">Forma de Pagamento:</label>
    <select name="forma_pagamento" id="forma_pagamento">
        <option value="">Todas</option>
        {% for forma_pagamento in formas_pagamento %}
            <option value="{{ forma_pagamento.id }}">{{ forma_pagamento.forma_de_pagamento }}</option>
        {% endfor %}
    </select>
    <!-- Adicione os campos de filtro para data_pagamento -->
    <label for="data_pagamento">Data de Pagamento:</label>
    <select name="data_pagamento" id="data_pagamento">
        <option value="ambos">Ambos</option>
        <option value="null">Não Pago</option>
        <option value="not_null">Pago</option>
    </select>
    <label for="clinica">Clínica:</label>
    <select name="clinica" id="clinica">
        <option value="">Todas</option>
        {% for clinica in clinicas %}
            <option value="{{ clinica.id }}">{{ clinica.nome }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>

{% if laudos %}
<p style="font-size: 16px; text-align: center; font-weight: bold;">Somatório dos preços: R$ {{ total_precos|default:0 }}</p>
<p style="font-size: 16px; text-align: center; font-weight: bold;">Somatório dos preços real: R$ {{ total_precos_real|default:0 }}</p>

{% if somatorio_por_clinica %}
    <h3>Somatório de preços por clínica:</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Clínica</th>
                    <th>Somatório de Preços</th>
                </tr>
            </thead>
            <tbody>
                {% for clinica_nome, somatorio_preco in somatorio_por_clinica.items %}
                    <tr>
                        <td>{{ clinica_nome }}</td>
                        <td>R$ {{ somatorio_preco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}



<form method="POST" id="alteracaoForm"  action="{% url 'salvar_alteracao_controle' %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="button" onclick="salvarAlteracoes()">Salvar Alterações</button>
    <div class="table-responsive">
    <table class="table table-sm smaller-table">
        <thead>
            <tr>
                <th>Data de Criação</th>
                <th style="width: 15px;">Clínica</th>
                <th style="width: 15px;">Paciente</th>
                <th style="width: 150px;">Tutor</th>
                <th>Tipo de Laudo</th>
                <th style="width: 150px;">Preço Real</th>
                <th style="width: 150px;">Preço com %</th>
                <th style="width: 50px;">Data de Pagamento</th>
                <th>Nota Fiscal</th>
                <th>Forma de Pagamento</th>
                <th>Obs:</th>
            </tr>
        </thead>
        <tbody>
            {% for laudo in laudos %}
            <tr {% if not laudo.data_pagamento %} style="background-color: yellow;" {% endif %}>
                <td>
                    {% if not laudo.data_pagamento %}
                        <span class="alert-icon" title="Data de Pagamento em Branco">&#9888;</span>
                    {% endif %}
                    {{ laudo.data|date:"d/m/Y" }}
                </td>
                <td >{{ laudo.clinica }}</td>
                <td><a href="{% url 'exibicao' laudo.paciente.id %}" class="btn btn-info">{{ laudo.paciente }}</a></td>
                <td><a href="{% url 'exibicao_tutor' laudo.tutor.id %}" class="btn btn-info">{{ laudo.tutor }}</a></td>
                <td>{{ laudo.tipo_laudo }}</td>
                
                {% if not laudo.preco_real %}
                    <td style="background-color: #e9eb75;">R$ <input type="text" name="preco_real_{{ laudo.id }}" value="{{ laudo.preco_real|default_if_none:'' }}" size="5"></td>
                {% else %}
                    <td>R$ <input type="text" name="preco_real_{{ laudo.id }}" value="{{ laudo.preco_real|default_if_none:'' }}" size="5"></td>
                {% endif %}

                {% if not laudo.preco %}
                    <td style="background-color: #e9eb75;">R$ <input type="text" name="preco_{{ laudo.id }}" value="{{ laudo.preco|default_if_none:'' }}" size="5"></td>
                {% else %}
                    <td>R$ <input type="text" name="preco_{{ laudo.id }}" value="{{ laudo.preco|default_if_none:'' }}" size="5"></td>
                {% endif %}

                

                
                {% if not laudo.data_pagamento %}
                <td style="background-color: #e9eb75;">
                    <span class="alert-icon" title="Data de Pagamento em Branco">&#9888;</span>
                    <input type="text" name="data_pagamento_{{ laudo.id }}" value="{{ laudo.data_pagamento|default_if_none:'' }}">
                </td>
                {% else %}
                    <td>
                        <input type="text" name="data_pagamento_{{ laudo.id }}" value="{{ laudo.data_pagamento|default_if_none:'' }}">
                    </td>    
                {% endif %}
                    
                
                
                {% if not laudo.nota_fiscal %}
                    <td style="background-color: #e9eb75;">
                        <span class="alert-icon" title="nota_fiscal em Branco">&#9888;</span>
                        <input type="checkbox" name="nota_fiscal_{{ laudo.id }}" {% if laudo.nota_fiscal %} checked {% endif %}>
                    </td>
                {% else %}
                    <td>
                        <input type="checkbox" name="nota_fiscal_{{ laudo.id }}" {% if laudo.nota_fiscal %} checked {% endif %}>                    </td>    
                    </td>
                {% endif %}
                
                <td {% if not laudo.forma_pagamento %} style="background-color: #e9eb75;" {% endif %}>
                    <select name="forma_pagamento_{{ laudo.id }}">
                        <option value="" {% if not laudo.forma_pagamento %} selected {% endif %}>Selecione...</option>
                        {% for forma_pagamento in formas_pagamento %}
                            <option value="{{ forma_pagamento.id }}" {% if laudo.forma_pagamento_id == forma_pagamento.id %} selected {% endif %}>{{ forma_pagamento.forma_de_pagamento }}</option>
                        {% endfor %}
                    </select>
                    
                </td>
                <td>
                    
                    <input type="text" name="observacao_pagamento_{{ laudo.id }}" value="{{ laudo.observacao_pagamento|default_if_none:'' }}">
                    
                </td>
                <td><input type="hidden" name="laudo_ids" value="{{ laudo.id }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <button type="button" class="btn btn-primary" onclick="salvarAlteracoes()">Salvar Alterações</button>

    <input type="hidden" name="mes" value="{{ request.GET.mes }}">
    <input type="hidden" name="ano" value="{{ request.GET.ano }}">
    <input type="hidden" name="forma_pagamento" value="{{ request.GET.forma_pagamento }}">
    <input type="hidden" name="data_pagamento" value="{{ request.GET.data_pagamento }}">
    <input type="hidden" name="clinica" value="{{ request.GET.clinica }}">

</form>
<script>
    function salvarAlteracoes() {
        // Submeta o formulário usando JavaScript
        document.getElementById("alteracaoForm").submit();
        
        // Recarregue a página após 1 segundo
        setTimeout(function(){
            location.reload();
        }, 1000);
    }
    </script>
{% else %}
<p>Nenhum laudo encontrado para o mês e ano selecionados.</p>
{% endif %}


{% endblock %}
