{% extends 'index/base.html' %}

{% block content %}
<h2>Filtrar Laudos</h2>
<form method="GET" action="{% url 'filtrar_laudos' %}">
    <label for="mes">Mês:</label>
    <select name="mes" id="mes">
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
        <!-- Adicione as outras opções de meses -->
    </select>
    <label for="ano">Ano:</label>
    <input type="number" name="ano" id="ano" min="2000" max="2100" value="2024">
    <button type="submit">Filtrar</button>
</form>

{% if laudos %}
<form method="POST" id="alteracaoForm"  action="{% url 'salvar_alteracao_controle' %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="button" onclick="salvarAlteracoes()">Salvar Alterações</button>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Data de Criação</th>
                <th style="width: 15px;">Clínica</th>
                <th style="width: 15px;">Paciente</th>
                <th style="width: 150px;">Tutor</th>
                <th>Tipo de Laudo</th>
                <th style="width: 150px;">Preço Real</th>
                <th style="width: 150px;">Preço</th>
                <th style="width: 50px;">Data de Pagamento</th>
                <th>Nota Fiscal</th>
                <th>Forma de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for laudo in laudos %}
            <tr {% if not laudo.data_pagamento %} style="background-color: yellow;" {% endif %}>
                <td>
                    {% if not laudo.data_pagamento %}
                        <span class="alert-icon" title="Data de Pagamento em Branco">&#9888;</span>
                    {% endif %}
                    {{ laudo.data|date:"d/m/Y" }}
                </td>
                <td>{{ laudo.clinica }}</td>
                <td>{{ laudo.paciente }}</td>
                <td>{{ laudo.tutor }}</td>
                <td>{{ laudo.tipo_laudo }}</td>
                
                <td>R$ <input type="text" name="preco_real_{{ laudo.id }}" value="{{ laudo.preco_real|default_if_none:'' }}" size="5"></td>
                <td>R$ {{ laudo.preco }}</td>
                <td>
                    {% if not laudo.data_pagamento %}
                    <span class="alert-icon" title="Data de Pagamento em Branco">&#9888;</span>
                    {% endif %}
                    <input type="text" name="data_pagamento_{{ laudo.id }}" value="{{ laudo.data_pagamento|default_if_none:'' }}">
                </td>
                <td>
                    {% if not laudo.nota_fiscal %}
                        <span class="alert-icon" title="nota_fiscal em Branco">&#9888;</span>
                    {% endif %}
                    <input type="checkbox" name="nota_fiscal_{{ laudo.id }}" {% if laudo.nota_fiscal %} checked {% endif %}>
                </td>
                <td><input type="text" name="forma_pagamento_{{ laudo.id }}" value="{{ laudo.forma_pagamento|default_if_none:'' }}"></td>
                <td><input type="hidden" name="laudo_ids" value="{{ laudo.id }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="salvarAlteracoes()">Salvar Alterações</button>
</form>
<script>
    function salvarAlteracoes() {
        // Submeta o formulário usando JavaScript
        document.getElementById("alteracaoForm").submit();
        
        // Recarregue a página após 1 segundo
        setTimeout(function(){
            location.reload();
        }, 1000);
    }
    </script>
{% else %}
<p>Nenhum laudo encontrado para o mês e ano selecionados.</p>
{% endif %}


{% endblock %}
