{% extends 'index/base.html' %}
{% load static %}

{% block content %}
<form method="get" action="{% url 'relatorio_exames' %}">
    <!-- Filtro por data -->
    <div class="form-group">
        <label for="data_inicio">Data Início:</label>
        <input type="date" class="form-control" name="data_inicio" value="{{ request.GET.data_inicio }}">
    </div>

    <div class="form-group">
        <label for="data_fim">Data Fim:</label>
        <input type="date" class="form-control" name="data_fim" value="{{ request.GET.data_fim }}">
    </div>

    <!-- Filtro por clínica -->
    <div class="form-group">
        <label for="clinica">Clínica:</label>
        <select class="form-control" name="clinica">
            <option value="" {% if not request.GET.clinica %}selected{% endif %}>Todas</option>
            {% for clinic in clinicas %}
                <option value="{{ clinic.id }}" {% if request.GET.clinica == clinic.id %}selected{% endif %}>{{ clinic.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<!-- Resultados -->
<p class="mt-4">{% if clinica %}{{ clinica }} - {{ total_exames }} exames - Valor Total: R$ {{ total_valor|floatformat:2 }}{% else %}Total - {{ total_exames }} exames - Valor Total: R$ {{ total_valor|floatformat:2 }}{% endif %}</p>

<!-- Lista de Contagem de Exames em uma tabela responsiva -->
<div class="table-responsive mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo de Exame</th>
                <th>Contagem</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_exame, item in contagem_exames.items %}
                <tr>
                    <td>{{ tipo_exame }}</td>
                    <td>{{ item.contagem }}</td>
                    <td>R$ {{ item.valor_total|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Gráfico Número Total de Exames -->
<canvas id="graficoTotalExames" width="400" height="200"></canvas>

<!-- Gráfico Valor Total -->
<canvas id="graficoValorTotal" width="400" height="200"></canvas>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctxTotalExames = document.getElementById('graficoTotalExames').getContext('2d');
        var ctxValorTotal = document.getElementById('graficoValorTotal').getContext('2d');

        // Obtém os dados do Django e formata para uso no JavaScript
        var totalExamesData = {{ total_exames_data|safe }};
        var valorTotalData = {{ valor_total_data|safe }};

        var configTotalExames = {
            type: 'bar',
            data: {
                labels: totalExamesData.labels,
                datasets: [{
                    label: 'Número Total de Exames',
                    data: totalExamesData.values,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        formatter: function(value, context) {
                            if (context.dataIndex === totalExamesData.values.length - 1) {
                                return 'Valor Total: ' + valorTotalData.values[context.dataIndex].toFixed(2);
                            } else {
                                return '';
                            }
                        }
                    }
                }
            }
        };

        var configValorTotal = {
            type: 'bar',
            data: {
                labels: totalExamesData.labels,
                datasets: [{
                    label: 'Valor Total',
                    data: valorTotalData.values,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Cria os gráficos
        var chartTotalExames = new Chart(ctxTotalExames, configTotalExames);
        var chartValorTotal = new Chart(ctxValorTotal, configValorTotal);
    });
</script>



{% endblock %}
